@import '../styles/main.scss';

.demo_description {
    border-top: 1px $grey-light solid;
    padding: 17.5px 0;
    font-size: $font-size-landing_sub-heading;
    line-height: $line-height-landing_sub-heading
}
