@import '../styles/main.scss';

.section {
    max-width: $section-max-width;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $break-medium) {
        margin: 0 30px;
    }
}
