@import '../styles/main.scss';
html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.section {
    max-width: $section-max-width;
    margin: 0 auto;
    @media screen and (max-width: $break-medium) {
        margin: 0 30px;
    }
}
