@import '../styles/main.scss';

.navitem {
    list-style: none;
    &:after{
    content: url('~/assets/imgs/external-link_icon.png');
    margin: 0 8px;
    }
}

.navitem:not(:first-child) {
    margin-left: 60px;
    @media screen and (max-width: $break-small) {
        margin-left: 0;
    }
}

.navitem_link {
    text-decoration: none;
    color: $grey-text;
    &:hover {
        color: $grey-text_hover;
    }
}
