@import '../styles/main.scss';

.checkbox-label {
   line-height: $line-height-form;
   font-size: $font-size-form_regular;
   font-family: $base-font;
}

.checkbox {
  position: absolute;
  left: -9999px;
   line-height: $line-height-form;
   font-size: $font-size-form_regular;
}

.checkbox:before {
    content: '';
    border-radius: 3px;
    border: 3px solid #838C91;
    height: 13px;
    width: 13px;
    display: block;
}

.checkbox:checked:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #f3f3f3;
    text-align: center;
}

.checkbox_elimination {
    
}